body,
nav#breadcrumbs,
div.page-toolbar,
div.header-bar,
div#context_modules_sortable_container.item-group-container,
div.large.ic-Dashboard-header__layout,
.quiz-submission,
.question,
#questions.assessment_results .question .header,
.module-sequence-footer .module-sequence-footer-content,
table.summary td,
table.summary tbody th,
.ui-tabs .ui-tabs-panel,
.item-group-container,
select.ic-Input, textarea.ic-Input, input[type="text"].ic-Input, input[type="password"].ic-Input, input[type="datetime"].ic-Input, input[type="datetime-local"].ic-Input, input[type="date"].ic-Input, input[type="month"].ic-Input, input[type="time"].ic-Input, input[type="week"].ic-Input, input[type="number"].ic-Input, input[type="email"].ic-Input, input[type="url"].ic-Input, input[type="search"].ic-Input, input[type="tel"].ic-Input, input[type="color"].ic-Input, .uneditable-input.ic-Input,
.qBMHb_cSXm{
    background-color: #0f1114;
    background: #0f1114;
    color: #405f79; /*#c8e0f5*/
}

.btn,
.Button,
div.ic-DashboardCard,
div.ic-DashboardCard__header_content,
div.navigation-tray-container,
div.enRcg_bGBk,
.message-list .messages>li,
.conversations .panel,
table,
tbody,
#calendar-app .fc-event,
#calendar-drag-and-drop-container .fc-event,
.item-group-condensed .ig-header,
.item-group-condensed .ig-row,
.closed-for-comments-discussions-v2__wrapper,
.pinned-discussions-v2__wrapper, .unpinned-discussions-v2__wrapper,
.ic-discussion-row,
.discussions-v2__container-image{
    background: #171a20;
    color: #c8e0f5;
    border-color: black;
}
.accessible-toggler{
    color: #c8e0f5;
}
.ig-list .ig-row:hover {
  background-color: #212931;
}
:root {
    --ctrLD-color: #a3a9af;
    --ic-brand-global-nav-bgd: #101418;
    --ic-brand-global-nav-logo-bgd: #101418;
}

#calendar-app .fc-month-view .fc-today,
#calendar-drag-and-drop-container .fc-month-view .fc-today {
    background: #504f4f
}
.ic-discussion-row {
  box-shadow: -1px -1px black,inset -1px -1px black;
}